:root {
  color-scheme: light !important; /* Enforces light color scheme */
}

html {
  color-scheme: light !important; /* Enforces light color scheme */
  forced-color-adjust: none; /* Prevents automatic color adjustments */
  background-color: transparent !important; /* Transparent background */
}s

body {
  background-color: transparent !important; /* Transparent background */
  color: #08090A !important; /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light !important; /* Enforces light color scheme even in dark mode */
  }
  
  html, body {
    background-color: transparent !important; /* Transparent background */
    color: #08090A !important; /* Text color */
  }
}